<div class="col-12">
    <div class="row">
        <app-navbar></app-navbar>
    </div>
    <div class="row mt-4">
        <div class="content-container">
            <!-- Tabla de usuarios -->
            <div class="table-container">
                <h6>Usuarios registrados</h6>
                <div class="caption-container">
                    <div class="row mt-2 mb-2">
                        <div class="col-3">
                            <form [formGroup]="formSearch">
                                <h6 class="text-center">Filtrar por sección:</h6>
                                <select
                                    formControlName="search"
                                    class="form-select small-select"
                                >
                                    <option value="">Todas</option>
                                    <option *ngFor="let seccion of secciones" [value]="seccion.idSeccion">
                                        {{ seccion.nSeccion }}
                                    </option>
                                </select>
                            </form>
                        </div>
                        <div class="col-3">
                            <h6 class="text-center">Filas por página:</h6>
                            <select class="form-select small-select" [(ngModel)]="itemsPerPage">
                                <option [value]="5">5</option>
                                <option [value]="10">10</option>
                                <option [value]="15">15</option>
                                <option [value]="20">20</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <pagination-controls
                                *ngIf="usuarios.length > itemsPerPage"
                                (pageChange)="currentPageTotal = $event"
                                [maxSize]="itemsPerPage"
                                [directionLinks]="false"
                                [autoHide]="true"
                                style="float: right; margin-top: 10px;"
                            ></pagination-controls>
                        </div>
                    </div>                
                </div>
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th scope="col">Apellido</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">N° Legajo</th>
                            <th scope="col">Caja</th>
                            <th scope="col">Sección</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPageTotal }">
                            <td><b>{{ usuario.apellido }}</b></td>
                            <td><b>{{ usuario.nombre }}</b></td>
                            <td><b>{{ usuario.usuario }}</b></td>
                            <td><b>{{ usuario.caja === 0 ? 'No tiene' : usuario.caja }}</b></td>
                            <td><b>{{ usuario.seccion === 0 ? 'No tiene' : usuario.seccion }}</b></td>
                            <td><b>{{ usuario.rol === 1 ? 'ADMINISTRADOR' : usuario.rol === 2 ? 'USUARIO' : '' }}</b></td>
                            <td>
                                <button *ngIf="usuario.rol !== 1" class="btn btn-warning" (click)="cambiarCajaUsuario(usuario.idUsuario)">
                                    <i class="bi bi-pencil"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Formulario para añadir usuario -->
            <div class="form-container">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <h6 class="text-center">Añadir Usuario:</h6>
                    <div class="row g-2">
                        <div class="col-6">
                            <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" formControlName="apellido" placeholder="Apellido">
                        </div>
                    </div>
                    <div class="row g-2 mt-2">
                        <div class="col-12">
                            <input type="text" class="form-control" formControlName="usuario" placeholder="Legajo">
                        </div>
                    </div>
                    <div class="row justify-content-center mt-3">
                        <div class="col-12">
                            <h5>Seleccione el rol:</h5>
                            <select formControlName="rol" class="form-select">
                                <option value="1">Administrador</option>
                                <option value="2">Usuario</option>
                            </select>
                        </div>
                        <div *ngIf="selectCaja === true" class="col-12 mt-2">
                            <div class="row">
                                <div class="col-6">
                                    <h5>Seleccione la sección:</h5>
                                    <select class="form-select" formControlName="seccion">
                                        <option *ngFor="let seccion of secciones" [value]="seccion.idSeccion">
                                            {{ seccion.nSeccion }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <h5>Seleccione la caja:</h5>
                                    <select class="form-select" formControlName="caja">
                                        <option *ngFor="let caja of cajas" [value]="caja.idCaja">
                                            {{ caja.nCaja }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary">Habilitar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>