<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-sm border bg-secondary" style="width: 100%; max-width: 400px;">
      <h2 class="text-center mb-4 text-light text-wrap"><b>Sistema de Gestion de Cajas</b></h2>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-floating mb-3">
          <input 
            type="text" 
            class="form-control" 
            id="floatingInput" 
            formControlName="usuario" 
            placeholder="Username" 
            required
          >
          <label for="floatingInput">Usuario</label>
        </div>
        <div class="form-floating mb-4">
          <input 
            type="password" 
            class="form-control" 
            id="floatingPassword" 
            formControlName="password" 
            placeholder="Contraseña" 
            required
          >
          <label for="floatingPassword">Contraseña</label>
        </div>
        <button type="submit" class="btn btn-dark w-100">Iniciar Sesion</button>
      </form>
    </div>
  </div>