/* Estilo para el fondo de la página */
.background-container {
    position: relative;
    height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.background-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('F:/Proyectos/cashier-queue/Frontend/public/ccr.png'); /* Ruta de la imagen */
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.5; /* Aplica opacidad solo al fondo */
    z-index: -1; /* Envía el fondo detrás del contenido */
}

/* Contenedor del contenido */
.content-container {
    position: relative;
    z-index: 1; /* Asegura que el contenido esté por encima del fondo */
    width: 100%;
    text-align: center;
}

/* Estilo del título */
.header-title {
    text-align: center;
    font-size: 5rem; /* Incrementar tamaño */
    font-weight: bold;
    margin-bottom: 50px; /* Más espacio debajo del título */
    color: #333;
}

/* Estilo del mensaje */
.mensaje-caja {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo negro con transparencia */
    padding: 60px 80px; /* Incrementar padding */
    border-radius: 30px; /* Bordes más redondeados */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada */
    color: white;
}

.mensaje-texto {
    font-size: 4rem; /* Incrementar tamaño */
    font-weight: bold;
    color: white;
    margin-bottom: 30px; /* Más espacio entre texto y número */
}

.mensaje-numero {
    font-size: 30rem; /* Incrementar tamaño del número */
    font-weight: bold;
    color: rgb(21, 255, 0); /* Color verde brillante */
    font-family: 'Digital-7', sans-serif; /* Usa una fuente digital si está disponible */
}