<div class="col-12">
    <div class="row">
        <app-navbar></app-navbar>
    </div>
    <div class="row align-items-center" style="margin-top: 5%;">       
        <div class="parent">
            <div class="div1">
                <div class="card">
                    <div class="card-header text-black" style="background-color: #f99c24;">
                        <h1 class="mb-0">Caja</h1>
                    </div>
                    <div class="card-body">
                        <h4><b>Sección N°{{nSeccion}}</b></h4>
                        <h4><b>Caja N°{{nCaja}}</b></h4>
                    </div>
                </div>
            </div>
            <div class="div2">
                <div class="card">
                    <div class="card-header text-black" style="background-color: #f99c24;">
                        <h1 class="mb-0">Dispo</h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6"></div>
                            <div class="col-6"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div3">
                3
            </div>
        </div>
    </div>
    <!-- <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Cajas Disponibles</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Estado</th>
                                    <th>Último uso</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>1</td>
                                    <td>Caja Principal</td>
                                    <td>
                                        <span class="badge bg-sucess"> Disponible </span>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
