<div class="navbar-container">
    <nav class="navbar">
        <div class="navbar-brand">
            <b>Sistema de Gestion de Cajas</b>
        </div>
        <div class="navbar-links">
            <a class="btn nav-link" *ngIf="rolUser" (click)="navigate('/mainmenu')">Menu Principal</a>
            <!-- <a class="btn nav-link" *ngIf="rolUser===1" (click)="navigate('/panel-control')">Panel de control</a> -->
            <a class="btn nav-link" *ngIf="rolUser===1" (click)="navigate('/alta-usuarios')">Alta de Usuarios</a>
            <div class="user-dropdown" *ngIf="userInfo">
                <button class="btn nav-link dropdown-toggle" (click)="toggleMenu()">
                    {{ userInfo.nombre }} {{ userInfo.apellido }}
                </button>
                <div class="dropdown-menu" *ngIf="showMenu">
                    <p><b>Rol:</b> {{ userInfo.rol === 1 ? 'Administrador' : userInfo.rol === 2 ? 'Usuario' : 'Desconocido' }}</p>
                    <button class="btn logout-btn" (click)="logout()">Cerrar Sesión</button>
                </div>
            </div>
        </div>
    </nav>  
</div>