<div class="navbar-container">
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="https://www.dcs.ar" target="_blank" rel="noopener noreferrer" aria-label="Abrir sitio de DCS en una nueva pestaña">
                <img src="TurnPoint_icon.svg" alt="TurnPoint" class="navbar-logo">
            </a>
        </div>
        <div class="navbar-links">
            <a class="btn nav-link" *ngIf="rolUser===1" (click)="navigate('/alta-usuarios')">
                <i class="fa-solid fa-users"></i> Alta de Usuarios
            </a>
            <a class="btn nav-link" *ngIf="rolUser===1" (click)="navigate('/logs')">
                <i class="fa-solid fa-file-alt"></i> Registro de ingresos
            </a>
            <div class="user-dropdown" *ngIf="userInfo">
                <button class="btn nav-link dropdown-toggle" (click)="toggleMenu()">
                   <i class="fa-regular fa-user"></i> {{ userInfo.nombre }} {{ userInfo.apellido }}
                </button>
                <div class="dropdown-menu" *ngIf="showMenu">
                    <p><b>Rol:</b> {{ userInfo.rol === 1 ? 'Administrador' : userInfo.rol === 2 ? 'Usuario' : 'Desconocido' }}</p>
                    <button class="btn logout-btn" (click)="logout()">Cerrar Sesión</button>
                </div>
            </div>
        </div>
    </nav>  
</div>