<div class="col-12">
    <div class="row">
        <app-navbar></app-navbar>
    </div>
    <div class="row" style="margin: 7%;">
        <div class="col-6">
            <div class="col-12">
                <h2>Estado de las cajas</h2>
            </div>
            <div class="col-9">
                <div *ngFor="let item of cajeros" class="card col-3 m-2">
                    <div class="card-body">
                        <h5 class="card-title">Caja N°: {{ item.idCaja }}</h5>
                        <p class="card-text">ID Cajero: {{ item.idCajero }}</p>
                        <span class="badge" [ngClass]="{'bg-success': item.disponibilidad, 'bg-danger': !item.disponibilidad}">
                            {{ item.disponibilidad ? 'Disponible' : 'No Disponible' }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="col-12">
                <h2>Graficas de Uso</h2>
            </div>
        </div>
    </div>
</div>